<div class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
          <div class="card-header text-center">
            <a href="https://grupoargus.co.cr/" class="h1"><b>Grupo</b>Argus</a>
          </div>
          <div class="card-body">
            <p class="login-box-msg">Ingresa el correo electrónico asociado a tu cuenta para brindarte los pasos necesarios.</p>
            <form #loginForm="ngForm" ngNativeValidate (ngSubmit)="recoverPassword()">
              <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Correo electrónico" [(ngModel)]="correo" required [ngModelOptions]="{standalone: true}">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block" [(disabled)]="loading">
                    <span *ngIf="!loading">Recuperar</span>
                    <span *ngIf="loading">Verificando...</span>
                  </button>
                </div>
                <!-- /.col -->
              </div>
            </form>
      
            <p class="mt-3 mb-1">
              <a routerLink="/login">Iniciar Sesión</a>
            </p>
          </div>
          <!-- /.login-card-body -->
        </div>
      </div>
</div>