<div class="container-fluid">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Información</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form #loginForm="ngForm" ngNativeValidate (ngSubmit)="actualizarPerfil()">
          <div class="card-body">
            <p>Actualice la información del perfil de cada usuario.</p>
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <div class="form-group">
                  <label for="Nombre">Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    id="Nombre"
                    name="Nombre"
                    [(ngModel)]="modelUsuario.Nombre"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="form-group">
                  <label for="PrimerApellido">Primer apellido</label>
                  <input
                    type="text"
                    class="form-control"
                    id="PrimerApellido"
                    name="PrimerApellido"
                    [(ngModel)]="modelUsuario.PrimerApellido"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="form-group">
                  <label for="SegundoApellido">Segundo apellido</label>
                  <input
                    type="text"
                    class="form-control"
                    id="SegundoApellido"
                    name="SegundoApellido"
                    [(ngModel)]="modelUsuario.SegundoApellido"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <div class="form-group">
                  <label for="Celular">Celular</label>
                  <input
                    type="text"
                    class="form-control"
                    id="Celular"
                    name="Celular"
                    [(ngModel)]="modelUsuario.Celular"
                    required
                  />
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <!---<div class="form-group">
                  <label for="exampleInputEmail1">Fecha nacimiento</label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                  />
                </div>-->
              </div>
            </div> 
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary" [(disabled)]="actualizandoDatos">
              <span *ngIf="!actualizandoDatos">Actualizar perfil</span>
              <span *ngIf="actualizandoDatos">Actualizando...</span>
            </button>
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
    <!--/.col (left) -->
  </div>
  <!-- /.row -->
</div>
