<div class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="https://grupoargus.co.cr/" target="blank" class="h1"
          ><b>Grupo</b>Argus</a
        >
      </div>
      <div class="card-body">
        <p class="login-box-msg">Iniciar Sesión</p>

        <form #loginForm="ngForm" ngNativeValidate (ngSubmit)="login()">
          <div class="input-group mb-3">
            <input type="email"
                   class="form-control"
                  placeholder="Correo"
                  name="correo"
                  id="correo"
                  [(ngModel)]="model.correo"
                  required/>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Contraseña"
              name="contrasena"
              id="contrasena"
              [(ngModel)]="model.contrasena"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- /.col -->
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block" [(disabled)]="loading">
                <span *ngIf="!loading">Iniciar sesión</span>
                <span *ngIf="loading">Verificando...</span>
              </button>
            </div>
            <!-- /.col -->
          </div>
        </form>
        <br /> 
        <p class="mb-1">
          <a routerLink="/recuperar-contraseña" >Olvidé mi contraseña</a>
        </p>
        <p class="mb-0">
          <a routerLink="/registro" class="text-center">Registrarse</a>
        </p>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.login-box -->
</div>
