    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Agendar cita: {{ eventId }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form ngNativeValidate (ngSubmit)="agendar()">
        <div class="row">
          <div class="col-xl-6 col-md-6 col-xs-12">
            <div class="form-group">
              <label>Nombre:</label>
              <div class="input-group">
                <input id="Nombre" class="form-control" name="Nombre" [(ngModel)]="modelEvento.Nombre" required>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-6 col-xs-12">
            <div class="form-group">
              <label>Apellidos:</label>
              <div class="input-group">
                <input id="Apellidos" class="form-control" name="Apellidos" [(ngModel)]="modelEvento.Apellidos" required>
              </div>
            </div>
          </div>  
        </div>
        <div class="row">
          <div class="col-xl-4 col-md-6 col-xs-6">
            <label>Cédula</label>
            <div class="input-group">
              <input id="cedula" [(ngModel)]="modelEvento.Cedula" class="form-control" name="cedula" required>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 col-xs-6">
            <label>Teléfono</label>
            <div class="input-group">
              <input id="celular" class="form-control" [(ngModel)]="modelEvento.Celular" name="celular" required>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 col-xs-6">
            <label>Correo electrónico</label>
            <div class="input-group">
              <input id="Correo" class="form-control" [(ngModel)]="modelEvento.Correo" name="correo" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Motivo cita</label>
            <div class="input-group">
              <textarea id="MotivoCita" class="form-control" [(ngModel)]="modelEvento.MotivoCita" name="motivocita" required></textarea>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary btn-block" type="submit" [disabled]="loading">
              <span *ngIf="!loading">Agendar</span>
              <span *ngIf="loading">Guardando...</span>
            </button>
          </div>
        </div>
      </form>
    </div>

