<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sticky-top mb-3">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Localidades</h4>
            </div>
            <div class="card-body">
              <!-- the events -->
              <ul class="list-group">
                <li (click)="cambiarAgenda(usuario.Id)" class="list-group-item" *ngFor="let usuario of usuarios">
                  <a class="list-group-item list-group-item-action" aria-current="true">{{usuario.Nombre + ' ' + usuario.PrimerApellido + ' ' + usuario.SegundoApellido}}</a>
                </li>
              </ul>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card card-primary">
          <div class="card-body p-0">
            <!-- THE CALENDAR>-->
            <full-calendar #fullcalendar deepChangeDetection="true" [options]="calendarOptions"></full-calendar>
        </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row --> 
  </div>

  