<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sticky-top mb-3">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Localidades</h4>
            </div>
            <div class="card-body">
              <!-- the events -->
              <ul class="agendas">
                <li class="agendas-item" (click)="cambiarAgenda(usuario.Id)" *ngFor="let usuario of usuarios">
                  <a aria-current="true">{{usuario.Nombre + ' ' + usuario.PrimerApellido + ' ' + usuario.SegundoApellido}}</a>
                </li>
              </ul>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Información</h3>
            </div>
            <div class="card-body">
              <div class="row justify-content-center">
                <img class="img-thumbnail" src="{{usuarioSeleccionado[0]?.Foto | imagen}}" [alt]="usuarioSeleccionado[0]?.Nombre"/>
              </div>
              <div class="row justify-content-center">
                <span>
                  <strong>Nombre: </strong>
                  {{ usuarioSeleccionado[0]?.Nombre + ' ' + usuarioSeleccionado[0]?.PrimerApellido + ' ' +usuarioSeleccionado[0]?.SegundoApellido }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card card-primary">
          <div class="card-body p-0">
            <!-- THE CALENDAR>-->
            <full-calendar #fullcalendar deepChangeDetection="true" [options]="calendarOptions"></full-calendar>
        </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row --> 
  </div>

  