
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Información Cita: {{ detalleEvento.IdAgenda }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row pt-2">
          <div class="col-6">
            <span><strong>Nombre: </strong>{{ detalleEvento.Nombre }}</span>
          </div>
          <div class="col-6">
            <span><strong>Cédula: </strong>{{ detalleEvento.cedula }}</span>
          </div>  
        </div>
        <div class="row pt-2">
          <div class="col">
            <span><strong>Correo: </strong>{{ detalleEvento.correo }}</span>
          </div>
          <div class="col">
            <span><strong>Teléfono: </strong>{{ detalleEvento.celular }}</span>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col">
            <span><strong>Motivo Cita: </strong>{{ detalleEvento.motivocita }}</span>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col">
            <span><strong>Inicio: </strong>{{ detalleEvento.start | date:'short':'UTC' }}</span>
          </div>
          <div class="col">
            <span><strong>Final: </strong>{{ detalleEvento.endDate | date:'short':'UTC' }}</span>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col">
            <span><strong>Doctor: </strong>{{ detalleEvento.Doctor }}</span>
          </div>
        </div>
        <hr>
        <div class="row pt-2">
          <div class="col-lg-4 pt-2 col-md-12 col-sm-12">
            <button class="btn btn-outline-info" (click)="enviarRecordatorio(detalleEvento)">
              <i class="far fa-paper-plane"></i>
              Recordatorio
            </button>
          </div>
          <div class="col-lg-4 pt-2 col-md-12 col-sm-12">
            <button class="btn btn-outline-warning" (click)="reprogramarCita(detalleEvento.IdAgenda)">
              <i class="far fa-clock"></i>
              Reprogramar
            </button>
          </div>
          <div class="col-lg-4 pt-2 col-md-12 col-sm-12">
            <button class="btn btn-outline-danger" (click)="cancelarCita(detalleEvento.IdAgenda)">
              <i class="far fa-calendar-times"></i>
              Cancelar Cita
            </button>
          </div>
        </div>
    </div>