<div class="container-fluid">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Contraseña</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form
          #contrasenaForm="ngForm"
          ngNativeValidate
          (ngSubmit)="cambiarContrasena()"
        >
          <div class="card-body">
            <p>Utilice esta sección para manejar su contraseña.</p>
            <div class="form-group">
              <label for="exampleInputEmail1">Contraseña actual</label>
              <input
                type="password"
                name="contrasenaActual"
                class="form-control"
                id="contrasenaActual"
                [(ngModel)]="modelContrasena.contrasenaActual"
                required
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Nueva contraseña</label>
              <input
                type="password"
                class="form-control"
                id="nuevaContrasena"
                name="nuevaContrasena"
                [(ngModel)]="modelContrasena.nuevaContrasena"
                required
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1"
                >Repetir nueva contraseña</label
              >
              <input
                type="password"
                class="form-control"
                id="repetirNuevaContrasena"
                name="repetirNuevaContrasena"
                [(ngModel)]="modelContrasena.repetirNuevaContrasena"
                required
              />
            </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button
              type="submit"
              class="btn btn-primary"
              [(disabled)]="loading"
            >
              <span *ngIf="!loading">Cambiar contraseña</span>
              <span *ngIf="loading">Procesando...</span>
            </button>
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-6"></div>
    <!--/.col (right) -->
  </div>
  <!-- /.row -->
</div>
